.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: clamp(1rem, 5%, 4rem);
  background-color: var(--clr-neutral-white-000);
  border-radius: 1rem;
  border-bottom-right-radius: 5rem;
  width: clamp(22rem, 80%, 53rem);
  overflow: hidden;
}
