input {
  width: clamp(5.5rem, 25%, 10rem);
  font-size: var(--fs-input);
  padding: 0.1em 0.2em;
  font-weight: 700;
  color: var(--clr-neutral-black-100);
  border: 2px solid var(--clr-neutral-grey-300);
  border-radius: 0.25em;

  &:active,
  &:focus-visible {
    border: 2px solid var(--clr-primary-purple);
  }

  /* @media (--sm-viewport) {
    font-size: 1rem;
  } */
}
