:root {
  --clr-primary-purple: hsl(259, 100%, 65%);
  --clr-primary-lightRed: hsl(0, 100%, 67%);

  --clr-neutral-white-000: hsl(0, 0%, 100%);

  --clr-neutral-white-100: hsl(0, 0%, 94%);
  --clr-neutral-grey-300: hsl(0, 0%, 86%);
  --clr-neutral-grey-400: hsl(0, 1%, 44%);
  --clr-neutral-black-100: hsl(0, 0%, 8%);

  --fs-input: clamp(20px, 10vw, 32px);
  --fs-label: clamp(11px, 10vw, 14px);
  --fs-output: clamp(54px, 10vw, 100px);
}
